.btn-group button {
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
}

table {
    width: 100%;
    font-family: "Helvetica", sans-serif;
}

th {
    border: none;
    text-decoration: underline;
    text-align: left;
}

td {
    border: none;
}

.checkoutbtn {
    color: red;
}

.OrderSummary {
    text-align: center;
    font-family: "Helvetica", sans-serif;
}

.welcome {
    text-align: center;
    font-family: "Helvetica", sans-serif;
}

#ordertable {
    text-align: center;
    font-family: "Helvetica", sans-serif;
}

#number {
    font-family: "Helvetica", sans-serif;
}