Functional:

-Necessary

Waiters can place orders
Waiters can modify existing orders
Waiters can cancel existing orders
K. Staff can view orders
K. Staff can provide delivery estimates
K. Staff can update delivery estimates
Customers can view their own order
Customers can view their own delivery estimates

-Desirable
Customers can place orders through their own device
Customers can modify their own orders through their own device.
Customers can cancel their own orders through their own device.

Non Functional:

-Necessary

Waiters can specify modifications to an order
Waiters can specify dietary requirements for an order

Customers can view orders without having an account
The system will be able to handle at least 500 orders every hour.


-Desirable

Orders will be available to the Kitchen system within 1 minute of the order being confirmed
The system will be able to handle at least 1000 orders every hour.
Customers can not cancel their order within (n/2) minutes of estimated delivery where n = Total time to complete order and n>=10
