body, html{
  background-color: #000000;
  color:#FFFFFF;
  text-align: center;
  height: 100%;
  word-wrap: break-word;
  white-space: normal;
  margin-left: auto;
  margin-right: auto;
  width: 20em}
  input[type=submit] {
      padding:5px 15px;
      background:#ccc;
      border:0 none;
      cursor:pointer;
      -webkit-border-radius: 5px;
      border-radius: 5px;
  }
